<img class="ppImagePrev ppimg" src="<%= image %>">
<h2 class="ppName"><%= name %></h2>
<p class="ppAmount"><%= amount %><span> <%= currency %></span></p>
<div class="ppDetails">

    <img class="ppImage ppimg" src="<%= image %>">
    <p class="ppDescTitle">Description:</p>
    <p class="ppDesc"><%= description %></p>
    <p class="ppUrls">
        <%  for(var url in urls) { %>
            <a href= <%= urls[url] %> target="_blank"><%= urls[url] %></a>
        <% } %>
    </p>
    <p class="ppPriority">Priotity: <%= priority %></p>
    <p class="ppCategory">Category: <%= category %></p>

</div>