html, body{
    height: 100%;
    background: rgb(76,76,76);
    background: -moz-linear-gradient(top,  rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 39%, rgba(44,44,44,1) 50%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%) no-repeat, #000;
        -moz-background-size: 100%;
    background: -webkit-linear-gradient(top,  rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(102,102,102,1) 25%,rgba(71,71,71,1) 39%,rgba(44,44,44,1) 50%,rgba(0,0,0,1) 51%,rgba(17,17,17,1) 60%,rgba(43,43,43,1) 76%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%) no-repeat, #000;
        -webkit-background-size: 100%;
    background: linear-gradient(to bottom,  rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(102,102,102,1) 25%,rgba(71,71,71,1) 39%,rgba(44,44,44,1) 50%,rgba(0,0,0,1) 51%,rgba(17,17,17,1) 60%,rgba(43,43,43,1) 76%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%) no-repeat, #000;
        -o-background-size: 100%;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 );
    background-size: 100%;
}
h2, p {
    margin:0
}
.ppList {
    position: absolute;
    left: 250px;
    right: 0;
}

img.ppImagePrev {
    max-height: 35px;
    max-width: 35px;
    float: left;
    margin-right: 15px;
}
.ppImage{
    max-width: 300px;
    max-height: 300px;
    float: left;
    margin-right: 20px;
}
.purchaseItem{
    clear: both;
    overflow: hidden;
    margin: 10px 10px 0 0;
    border: 1px solid grey;
    border-radius: 10px;
    padding: 20px;
    position: relative;
    margin-bottom: 10px;

    background: #f5f6f6;
    background: -moz-linear-gradient(top,  #f5f6f6 0%, #dbdce2 21%, #b8bac6 49%, #dddfe3 80%, #f5f6f6 100%);
    background: -webkit-linear-gradient(top,  #f5f6f6 0%,#dbdce2 21%,#b8bac6 49%,#dddfe3 80%,#f5f6f6 100%);
    background: linear-gradient(to bottom,  #f5f6f6 0%,#dbdce2 21%,#b8bac6 49%,#dddfe3 80%,#f5f6f6 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f6f6', endColorstr='#f5f6f6',GradientType=0 );
}

.ppName{
    float: left;
    margin-left: 10px;
    height: 35px;
}
.ppName:hover {
    color: red;
}

.ppAmount{
    font-weight: bold;
    font-size: large;
    color: #ffbad4;
    float:right;
    padding: 5px;
    border-radius: 10px;

    background: -moz-linear-gradient(top,  rgba(149,149,149,0.67) 0%, rgba(13,13,13,0.82) 46%, rgba(1,1,1,0.83) 50%, rgba(10,10,10,0.84) 53%, rgba(78,78,78,0.92) 76%, rgba(56,56,56,0.96) 87%, rgba(27,27,27,1) 100%);
    background: -webkit-linear-gradient(top,  rgba(149,149,149,0.67) 0%,rgba(13,13,13,0.82) 46%,rgba(1,1,1,0.83) 50%,rgba(10,10,10,0.84) 53%,rgba(78,78,78,0.92) 76%,rgba(56,56,56,0.96) 87%,rgba(27,27,27,1) 100%);
    background: linear-gradient(to bottom,  rgba(149,149,149,0.67) 0%,rgba(13,13,13,0.82) 46%,rgba(1,1,1,0.83) 50%,rgba(10,10,10,0.84) 53%,rgba(78,78,78,0.92) 76%,rgba(56,56,56,0.96) 87%,rgba(27,27,27,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ab959595', endColorstr='#1b1b1b',GradientType=0 );
}
.ppDetails{
    display: none;
    clear: both;
    overflow: hidden;
    margin-top: 50px;
}

.ppDescTitle{
    overflow: hidden;
    padding: 5px;
    font-weight: bold;

}

p.ppDesc {
    overflow: hidden;
    border: 2px outset #E6E6FA;
    border-radius: 10px;
    padding: 5px;
}

p.ppUrls {
    overflow: hidden;
    margin: 10px 0;
    border: 2px outset #E6E6FA;
    border-radius: 10px;
    padding: 5px;
}
a {
    color: #006e37;
}
a:hover {
    color: #00c983;
}

.ppPriority {
    color: #828282;
    position: absolute;
    bottom: 15px;
    left: 345px;
}
.ppCategory{
    padding: 10px;
    border-radius: 10px;
    position: absolute;
    bottom: 15px;
    right: 15px;

    background: #bfd255;
    background: -moz-linear-gradient(top,  #bfd255 0%, #8eb92a 50%, #72aa00 51%, #9ecb2d 100%);
    background: -webkit-linear-gradient(top,  #bfd255 0%,#8eb92a 50%,#72aa00 51%,#9ecb2d 100%);
    background: linear-gradient(to bottom,  #bfd255 0%,#8eb92a 50%,#72aa00 51%,#9ecb2d 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfd255', endColorstr='#9ecb2d',GradientType=0 );
}

.ppdialog {
    background: #f5f6f6;
    background: -moz-linear-gradient(top,  #f5f6f6 0%, #dbdce2 21%, #b8bac6 49%, #dddfe3 80%, #f5f6f6 100%);
    background: -webkit-linear-gradient(top,  #f5f6f6 0%,#dbdce2 21%,#b8bac6 49%,#dddfe3 80%,#f5f6f6 100%);
    background: linear-gradient(to bottom,  #f5f6f6 0%,#dbdce2 21%,#b8bac6 49%,#dddfe3 80%,#f5f6f6 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f6f6', endColorstr='#f5f6f6',GradientType=0 );
    padding: 20px;
    border: 2px outset #E6E6FA;
    border-radius: 10px;
    position: fixed;
    top: 200px;
    left:45%
}

.ppdialog input, select{
    margin: 10px;
}

.ppdialog label{
    display: inline-block;
    width: 80px;
}