html, body{
    height: 98%;
    background: rgb(76,76,76);
    background: -moz-linear-gradient(top,  rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 39%, rgba(44,44,44,1) 50%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%) no-repeat, #000;
        -moz-background-size: 100%;
    background: -webkit-linear-gradient(top,  rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(102,102,102,1) 25%,rgba(71,71,71,1) 39%,rgba(44,44,44,1) 50%,rgba(0,0,0,1) 51%,rgba(17,17,17,1) 60%,rgba(43,43,43,1) 76%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%) no-repeat, #000;
        -webkit-background-size: 100%;
    background: linear-gradient(to bottom,  rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(102,102,102,1) 25%,rgba(71,71,71,1) 39%,rgba(44,44,44,1) 50%,rgba(0,0,0,1) 51%,rgba(17,17,17,1) 60%,rgba(43,43,43,1) 76%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%) no-repeat, #000;
        -o-background-size: 100%;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 );
    background-size: 100%;
}
h2, p {
    margin:0
}
.ppList {
    position: absolute;
    left: 250px;
    top: 50px;
    right: 0;
}

button {
    background: rgba(196, 198, 207, 0.38);
    border-radius: 10px;
    padding: 10px;
    margin-right: 5px;
    background-image:
            linear-gradient(45deg, rgba(255,255,255,.0) 30%, rgba(255,255,255,.8), rgba(255,255,255,.0) 70%),
            linear-gradient(to right, rgba(255,255,255,1), rgba(255,255,255,0) 20%, rgba(255,255,255,0) 90%, rgba(255,255,255,.3)),
            linear-gradient(to right, rgba(125,125,125,1), rgba(255,255,255,.9) 45%, rgba(125,125,125,.5)),
            linear-gradient(to right, rgba(125,125,125,1), rgba(255,255,255,.9) 45%, rgba(125,125,125,.5)),
            linear-gradient(to right, rgba(223,190,170,1), rgba(255,255,255,.9) 45%, rgba(223,190,170,.5)),
            linear-gradient(to right, rgba(223,190,170,1), rgba(255,255,255,.9) 45%, rgba(223,190,170,.5));
    background-repeat: no-repeat;
    background-size: 200% 100%, auto, 100% 2px, 100% 2px, 100% 1px, 100% 1px;
    background-position: 200% 0, 0 0, 0 0, 0 100%, 0 4px, 0 calc(100% - 4px);
    box-shadow: rgba(0,0,0,.5) 3px 10px 10px -10px;
}

button:hover{
    transition: .5s linear;
    background-position: -200% 0, 0 0, 0 0, 0 100%, 0 4px, 0 calc(100% - 4px);
}
button:active {
    top: 1px;
}

.butback{
    right: 0;
    position: fixed;
    z-index: 10;
    font-weight: 900;
    background-color: #ccc;
    border-radius: 10px;
}
.butback button{
    margin: 0;
}

input,select {
    font-size: 13px;
    padding: 2px 0 2px 4px;
    border: 1px solid #cecece;
    background: #F6F6f6;
    border-radius: 8px;
}

img.ppImagePrev {
    max-height: 35px;
    max-width: 35px;
    float: left;
    margin-right: 15px;
}
.ppImage{
    max-width: 300px;
    max-height: 300px;
    float: left;
    margin: 0 20px 20px 0;
}
.purchaseItem{
    clear: both;
    overflow: hidden;
    margin: 10px 10px 0 0;
    border: 1px solid grey;
    border-radius: 10px;
    padding: 20px;
    position: relative;
    margin-bottom: 10px;

    background: #f5f6f6;
    background: -moz-linear-gradient(top,  #f5f6f6 0%, #dbdce2 21%, #b8bac6 49%, #dddfe3 80%, #f5f6f6 100%);
    background: -webkit-linear-gradient(top,  #f5f6f6 0%,#dbdce2 21%,#b8bac6 49%,#dddfe3 80%,#f5f6f6 100%);
    background: linear-gradient(to bottom,  #f5f6f6 0%,#dbdce2 21%,#b8bac6 49%,#dddfe3 80%,#f5f6f6 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f6f6', endColorstr='#f5f6f6',GradientType=0 );
}

.ppName{
    float: left;
    height: 35px;
}
.ppName:hover {
    color: red;
}

.ppAmount{
    font-weight: bold;
    font-size: large;
    color: #ffbad4;
    float:right;
    padding: 5px;
    border-radius: 10px;
    margin-right: 20px;

    background: -moz-linear-gradient(top,  rgba(149,149,149,0.67) 0%, rgba(13,13,13,0.82) 46%, rgba(1,1,1,0.83) 50%, rgba(10,10,10,0.84) 53%, rgba(78,78,78,0.92) 76%, rgba(56,56,56,0.96) 87%, rgba(27,27,27,1) 100%);
    background: -webkit-linear-gradient(top,  rgba(149,149,149,0.67) 0%,rgba(13,13,13,0.82) 46%,rgba(1,1,1,0.83) 50%,rgba(10,10,10,0.84) 53%,rgba(78,78,78,0.92) 76%,rgba(56,56,56,0.96) 87%,rgba(27,27,27,1) 100%);
    background: linear-gradient(to bottom,  rgba(149,149,149,0.67) 0%,rgba(13,13,13,0.82) 46%,rgba(1,1,1,0.83) 50%,rgba(10,10,10,0.84) 53%,rgba(78,78,78,0.92) 76%,rgba(56,56,56,0.96) 87%,rgba(27,27,27,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ab959595', endColorstr='#1b1b1b',GradientType=0 );
}

.ppaction img{
    height: 20px;
    width: 20px;


}

.ppaction{
    float:right;
    margin-right: 5px;
    margin-top: 7px;
}
.ppaction img:hover{
    border-radius: 5px;
    background-color: rgba(255, 0, 0, 0.43);
}
.ppaction img:active{
    border-radius: 5px;
    background-color: rgba(255, 0, 0, 0.72);
}
.ppDetails{
    display: none;
    clear: both;
    overflow: hidden;
    margin-top: 50px;
}

.ppDescTitle{
    overflow: hidden;
    padding: 5px;
    font-weight: bold;

}

p.ppDesc {
    overflow: hidden;
    border: 2px outset #E6E6FA;
    border-radius: 10px;
    padding: 5px;
}

p.ppUrls {
    overflow: hidden;
    margin: 15px 0 45px 0;
    border: 2px outset #E6E6FA;
    border-radius: 10px;
    padding: 5px;
}
a {
    color: #006e37;
}
a:hover {
    color: #00c983;
}

.ppPriority {
    color: #828282;
    position: absolute;
    bottom: 3px;

}
.ppCategory{
    padding: 10px;
    border-radius: 10px;
    position: absolute;
    bottom: 15px;
    right: 15px;

    background: #bfd255;
    background: -moz-linear-gradient(top,  #bfd255 0%, #8eb92a 50%, #72aa00 51%, #9ecb2d 100%);
    background: -webkit-linear-gradient(top,  #bfd255 0%,#8eb92a 50%,#72aa00 51%,#9ecb2d 100%);
    background: linear-gradient(to bottom,  #bfd255 0%,#8eb92a 50%,#72aa00 51%,#9ecb2d 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfd255', endColorstr='#9ecb2d',GradientType=0 );
}

.ppdialog {
    background: #f5f6f6;
    background: -moz-linear-gradient(top,  #f5f6f6 0%, #dbdce2 21%, #b8bac6 49%, #dddfe3 80%, #f5f6f6 100%);
    background: -webkit-linear-gradient(top,  #f5f6f6 0%,#dbdce2 21%,#b8bac6 49%,#dddfe3 80%,#f5f6f6 100%);
    background: linear-gradient(to bottom,  #f5f6f6 0%,#dbdce2 21%,#b8bac6 49%,#dddfe3 80%,#f5f6f6 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f6f6', endColorstr='#f5f6f6',GradientType=0 );
    padding: 20px;
    border: 2px outset #E6E6FA;
    border-radius: 10px;
    position: fixed;
    top: 50%;
    left: 0;
    right: 0;
    margin: auto;
    max-height: 400px;
    max-width: 600px;
    margin-top: -200px;
    overflow: auto;

}

.ppdialog input, select{
    margin: 0 5px 10px 5px;
}
.ppdialog input{
    width: 440px;
}

.ppdialog label{
    display: inline-block;
    width: 80px;
}
.copyLink:hover{
    background-color: rgba(0, 128, 0, 0.51);
    border-radius: 10px;
}
.trashLink:hover{
    background-color: rgba(255, 0, 0, 0.5);
    border-radius: 10px;
}
.dialogicon {
    max-width: 15px;
}
